<form action="/notebook" method="post">
    <textarea name="content" placeholder="Write your notes here..."><%= note ? note.content : '' %></textarea>
    <button type="submit">Save</button>
  </form>
  <a href="/logout">Logout</a>