<link rel="stylesheet" href="/css/style.css">
<h1>Registrace</h1>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Register</button>
  </form>
  <br>
    <p>Už máte účet? <a href="/login">Přihlaste se</a></p>